.intro {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
}

.intro h1 {
  font-size: 3em;
}
.intro .Line {
  background-color: #ffffff;
  height: 1px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;

  padding: 5%;
  align-items: center;
}

.firstP {
  font-size: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  padding: 0px;
}

.backgroundImage {
  background-image: url("images/image1.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contentContainer {
  position: relative;
  width: 40%; /* Lățimea redusă pentru a fi alături de tabel */
  z-index: 2; /* Deasupra imaginii de fundal */
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Fundal pentru vizibilitate */
}

.orderPanel {
  width: 100%;
}

.intro h1,
.contentContainer h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
.contentContainer h1 {
  color: #00acee;
}

.orderSection {
  text-align: center;
  margin-bottom: 20px;
}

.bigButton {
  background-color: #00acee;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bigButton:hover {
  background-color: #009acd;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.photoSpace {
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
}

.roundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemInfo {
  flex-grow: 1;
  margin-left: 20px;
}

.itemInfo h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.itemInfo p {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 10px;
}

.mealSelect {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #00acee;
}

.mealSelect option {
  background-color: #000;
  color: #00acee;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navButton {
  background-color: #00acee;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #009acd;
}

/* table */
.table {
  width: 50%;
  height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: auto;
  position: relative;
  z-index: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  color: white;
}

th {
  background-color: #009acd;
  font-size: 16px;
  text-transform: uppercase;
}

td {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.mealContainer {
  display: flex;

  align-items: center;
  background-color: #000;
  height: 100vh;
}

.mealContainer h2 {
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.mealPicture {
  background-color: #00acee;
  width: 30%;
  height: 50%;
  padding: 30px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 171, 238, 0.744); /* Albastru */
}

.videoContainer {
  position: relative; /* Necesare pentru a permite poziționarea absolută a videoclipului */
  width: 100%; /* Lățimea totală a containerului */
  height: 100vh; /* Înalțimea pe întreaga fereastră */
  overflow: hidden; /* Ascunde părțile care ies în afara containerului */
}

.backgroundVideo {
  position: absolute; /* Poziționare absolută pentru a acoperi containerul */
  top: 50%; /* Centrăm pe axa Y */
  left: 50%; /* Centrăm pe axa X */
  min-width: 100%; /* Asigură că videoclipul acoperă întreaga lățime */
  min-height: 100%; /* Asigură că videoclipul acoperă întreaga înălțime */
  width: auto; /* Lățimea se ajustează automat */
  height: auto; /* Înalțimea se ajustează automat */
  transform: translate(-50%, -50%); /* Centrăm videoclipul */
  z-index: 1; /* Asigură că videoclipul este în spatele altor elemente */
}

.gradientOverlay {
  position: absolute; /* Poziționare absolută pentru overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  ); /* Gradient de la transparent la negru complet */
  z-index: 2; /* Asigură că overlay-ul este deasupra videoclipului */
}
