body {
  font-family: "Arial", sans-serif;
  background-color: #111;
  color: #fff;
}

.btnExplore a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: inherit;
  font-size: 0.8rem;
}

.btnExplore {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.btnExplore:hover {
  background-color: #0056b3;
}

.pictureVisual {
  position: relative;
  text-align: center;
  padding: 40px;
  margin-top: 20px;
}

.pictureVisualImage {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 10px;
}

.pictureVisualText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.pictureVisualText h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.pictureVisualText p {
  font-size: 1.2em;
}

.fourElements {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #222;
}

.element {
  width: 22%;
  background-color: #111;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.element h3 {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 10px;
}

.element p {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.element button {
  background-color: #29a8ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.element button:hover {
  background-color: #1e7abd;
}

.element.vr {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00bcd4;
  color: #111;
  padding: 20px;
}

.element.vr img {
  max-width: 80px;
}

.footer {
  background-color: #111;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.getFitSection {
  margin-bottom: 20px;
}

.getFitSection h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.getFitSection p {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .pictureVisual {
    padding: 0;
    margin-top: 0;
  }

  .pictureVisualImage {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 20px;
  }
  .btnExplore a {
    font-size: 0.7rem;
  }
  .btnExplore {
    padding: 10px;
    color: white;
  }
  .element {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .pictureVisual {
    padding: 0;
    margin-top: 0;
  }

  .pictureVisualImage {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
  }

  .fourElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: #222;
  }
  .element {
    width: 90%;
    margin-top: 10px;
    background-color: #111;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .element h3 {
    font-size: 0.7em;
    color: #007bff;
    margin-bottom: 10px;
  }

  .element p {
    font-size: 0.6em;
    margin-bottom: 20px;
  }

  .element button {
    background-color: #29a8ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .element button a {
    font-size: 0.5em;
  }
  .element.vr {
    padding: 10px;
  }
  .element.vr img {
    width: 50%;
  }
}
