.header {
  background: linear-gradient(
    to right,
    rgba(0, 170, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: top 0.3s;
  z-index: 9999;
  text-align: center;
}

.hidden {
  top: -100px;
}

.logo h1 {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0;
}

.navList {
  list-style: none;
  display: flex;
}

.navList li {
  margin: 0 15px;
}

.navList li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  transition: all 0.3s ease;
  padding: 5px;
}

.navList li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.navList li a:hover:after {
  width: 100%;
}

.progressButton {
  background-color: #ffa500;
  padding: 10px 25px;
  border-radius: 8px;
}

.progressButton:hover {
  background-color: #c37f00;
}

.navList li a.progressButton::after {
  content: none;
}

.phoneModeHeader {
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(20, 20, 20, 0.95),
    rgba(50, 50, 50, 0.95)
  );

  z-index: 999;
  backdrop-filter: blur(10px);
  position: relative;
}

.miniMenu {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  transition: all 1s ease;
}
.miniMenuOn {
  transform: rotate(90deg);
}
.noScroll {
  overflow-y: hidden !important;
}

.phoneModeHeader .newMenu {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  text-align: center;
}

.phoneModeHeader .newMenu .menuList2 {
  width: 300px;
  margin: 0 auto;
}

.phoneModeHeader .newMenu .menuList2 li {
  list-style: none;
  padding: 20px;
}

.phoneModeHeader .newMenu .menuList2 li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  background-color: #ffa500;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .navList li {
    margin: 0 10px;
  }

  .navList li a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: all 0.3s ease;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 1em;
    color: #ffffff;
    margin: 0;
  }

  .navList li {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  .navList li a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: all 0.3s ease;
    font-size: 0.7em;
  }
  .progressButton {
    background-color: #ffa500;
    padding: 3px;
  }
  .navList li a:hover:after {
    width: 0;
  }
}

@media (max-width: 480px) {
  .navList li:last-child {
    display: inline-block;
    margin-right: 0;
  }
  .navList li {
    display: none;
  }
  .miniMenu {
    display: inline-block;
  }
  .progressButton {
    border-radius: 5px;
    font-size: 1.5em !important;
  }
  .navList {
    padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
  }
  .navList li {
    margin: 0;
    padding: 0;
  }
}
