.header {
  position: fixed; /* Lipim header-ul de partea de sus a paginii */
  top: 0; /* Aliniem la partea de sus */
  left: 0; /* Aliniem la stânga */
  right: 0; /* Aliniem la dreapta */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: top 0.3s; /* Animăm tranziția pentru efectul de dispariție */
  z-index: 10; /* Asigurăm că header-ul este deasupra altor elemente */
}

.hidden {
  top: -100px; /* Ascundem header-ul în afara ecranului */
}

.logo h1 {
  font-size: 1.5em;
  color: #ffffff;
}

.navList {
  list-style: none;
  display: flex;
}

.navList li {
  margin: 0 15px;
}

.navList li a {
  text-decoration: none;
  color: #fff;
}

.navList li a:hover {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.508);
}

.progressButton {
  background-color: #ffa500;
  padding: 10px 25px;
  border-radius: 10px;
}

.progressButton:hover {
  background-color: #c37f00;
}
