.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: 60vh;
  /* width: 100vw; */
  margin-top: 10%;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.backgroundVideo {
  position: absolute; /* Poziționează video-ul în fundal */
  top: 50%;
  left: 50%;
  width: 100%; /* Asigură-te că video-ul ocupă întreaga lățime */
  height: 100%; /* Asigură-te că video-ul ocupă întreaga înălțime */
  object-fit: cover; /* Face ca video-ul să se adapteze la dimensiunea containerului */
  transform: translate(-50%, -50%); /* Centrează video-ul */
  z-index: -1; /* Asigură-te că video-ul este sub celelalte conținuturi */
}

.overlay {
  position: absolute; /* Poziționează overlay-ul deasupra video-ului */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    /* Negru mai accentuat cu opacitate 0.9 în sus */ rgba(0, 0, 0, 0),
    /* Transparent la mijloc */ rgba(0, 0, 0, 0.9)
      /* Negru mai accentuat cu opacitate 0.9 în jos */
  );
  z-index: 1; /* Asigură-te că overlay-ul este deasupra video-ului */
}

.toodayProgress {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.progressTitle {
  font-size: 1em;
  padding: 20px;
}

.progress {
  width: 80%;
}
.progress span {
  font-size: 1em;
  font-weight: bold;
}

.progressPercent,
.totalMacros {
  font-size: 0.8em;
  font-weight: bold;
}

.progressLine {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 18%, 0.625);
  margin-bottom: 30px;
}

.details {
  display: flex;
}

.totalMacros {
  margin-right: 10%;
}
.progressLineFill {
  height: 100%;
  border-radius: 10px;
  background-color: blue;
  transition: width 0.5s ease-out;
}

.calendar {
  width: 50%;
  padding: 20px;
}
.calendar h2 {
  display: flex;
  justify-content: center;
}
.progressCircle {
  display: flex;
  align-items: center;
}

.DetailsSectionTitle {
  padding: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
.detailsSection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-top: 5%;
}

.detailImg {
  width: 70px;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 10px;
}

/* centrarea pe care otot cautam */
.detailBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
