/* LoginPage.module.css */

/* Div-ul principal care acoperă tot ecranul și conține background-ul */
.firstDiv {
  font-family: Arial, sans-serif;
  background-size: cover; /* Acoperă întreaga diviziune */
  background-position: center; /* Centrează imaginea de fundal */
  height: 100vh; /* Asigură că înălțimea acoperă viewport-ul */
  display: flex;
  justify-content: center; /* Centrează pe axa orizontală */
  align-items: center; /* Centrează pe axa verticală */
  overflow: hidden; /* Previne derularea */
}

/* Conținutul interior, unde se află butoanele și formularul */
.content {
  display: flex;
  width: 100%; /* Asigură că conținutul ocupă întreaga lățime */
  height: 100%; /* Asigură că conținutul ocupă întreaga înălțime */
}

/* Containerul butoanelor */
.buttonsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Overlay-ul care conține butoanele */
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

/* Stil pentru butoane */
.actionButton {
  background-color: #b90e2a;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.actionButton:hover {
  background-color: #d11e42;
}

/* Stilul containerului de formular */
.formContainer {
  flex: 1; /* 1/4 din spațiu */
  background-color: rgba(
    30,
    30,
    30,
    0.9
  ); /* Fundal întunecat semi-transparent */
  padding: 40px;
  text-align: center;
  color: white; /* Text alb pentru contrast */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asigură că formularul se extinde pe înălțimea completă */
}

/* Stilul titlului din formular */
.formContainer h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Stilul descrierii din formular */
.formContainer p {
  font-size: 13px;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Stilurile pentru input-uri */
.formContainer input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: black;
}

.submitButton {
  display: inline-block;
  background-color: #b90e2a;
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  width: 30%;
  font-size: 0.7em;
  border: none; /* Elimină stilul implicit al butonului */
  cursor: pointer; /* Arată mâna pentru hover */
  text-align: center;
}

.submitButton:hover {
  background-color: #d11e42;
}

.errorMessage {
  color: red;
}
